<?xml version="1.0" ?>
<settings version="1">
	<section id="my.addon.id">
		<category id="general" label="" help="">
			<group id="1" label="">
                <setting type="text" id="username" label="32011" default=""/>
                <setting type="text" id="password" label="32012" default=""/>
				<setting id="" type="" label="" help="">
					<control type="" format=""/>
				</setting>
			</group>
		</category>
	</section>
</settings>